#container {
  width: 100%;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

#datatable {
  padding-top: 1em;
  background-color: aliceblue;
}

#character {
  font-size: 4em;
  text-align: center;
  margin-bottom: 0.5em;
  cursor: pointer;
}

#pinyin {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  cursor: pointer;
}

#stats {
  padding: 1em;
  text-align: center;
}

.opt {
  font-size: 1.5em;
  padding: 1em;
  border-bottom: 1px lightblue solid;
  cursor: pointer;
}

#datatable.normal_mode.use_hover .opt:hover {
  background-color: lightblue;
}

#datatable.answer_mode.use_hover .opt.correct,
#datatable.answer_mode .opt.correct {
  background-color: lightgreen;
  border-bottom: 1px lightgreen solid;
}

#datatable.answer_mode.use_hover .opt.incorrect,
#datatable.answer_mode .opt.incorrect {
  background-color: lightpink;
  border-bottom: 1px lightpink solid;
}

.stats {
  padding: 2em;
  text-align: center;
}
